<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37878297891-a55q5h37mv99bh1cgl52b57dum1tvalp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37878297891-a55q5h37mv99bh1cgl52b57dum1tvalp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>37878297891-spvhvok5t2v0ti03kgep9tll4sg0p0eb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAsJx3ecQCLBgTXUQYJdIEX4Y8_6XGYS4</string>
	<key>GCM_SENDER_ID</key>
	<string>37878297891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.autotrader.app</string>
	<key>PROJECT_ID</key>
	<string>autotrader-a2613</string>
	<key>STORAGE_BUCKET</key>
	<string>autotrader-a2613.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37878297891:ios:5c289b57829518f0230896</string>
</dict>
</plist>